{% extends 'base.html' %}

{% block content %}


<div>
  <h3> Welcome to your profile page, {{ user.username }}!</h3>
  {% if user.is_authenticated %}
    <a href="{% url 'update_profile' %}">
    <button type="button">
        Update Info
    </button>
  </a>
     <a href="{% url 'change_password' %}">
    <button type="button">
        Change my password
    </button>
  </a>
    <p><b>First Name:</b> {{ user.first_name }}</p>

  <br>
    <p><b>Last Name:</b> {{ user.last_name }}</p>
  <br>
  <p><b>Email:</b> {{ user.email }}</p>
  <br>
  <p><b>bio:</b> {{ user.bio }}</p>
  <br>
  <p><b>Liked Charity:</b></p>
  {% for item in likelist %}
    <a href = "{% url 'charity_detail' item.id %}">
     <p>{{ item.name }}</p>
    </a>
  {% endfor %}
  {% endif %}
  <a href="{% url 'delete_profile' username=user.username%}">
    <button type="button">
        Delete My Account
    </button>
  </a>
</div>




{% endblock %}
